body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .MuiInputBase-input {
  padding: 13px 0 7px;
}
.makeStyles-margin-33 {
  margin: 8px;
}
.MuiInputLabel-formControl {
  transform: translate(0, 18px) scale(1);
}
label + .MuiInput-formControl { 
  margin: 8px;
}
.MuiFormLabel-root {
  padding-left: 8px;
}
.makeStyles-margin-12 {
  margin: 0;
}

.MuiInputLabel-formControl {
  left: 8px;
} */